/* =============================
========== certification ========
================================*/




.cert-container{
    position: absolute;
    width: 1440px;
    height: 669px;
    left: 0px;
    top: 3294px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cert{
    width: 1170px;
    height: 509px;
    background: linear-gradient(180deg, #7795FD 0%,
     #4B5BCF 94.58%, #4958CC 100%);
    border: 10px solid var(--clr-white);
    border-radius: 40px;
    position: relative;
    padding: 80px 175px 80px 100px;
    display: flex;
}

.floating-yellow{
    position: absolute;
    left: -1.88%;
    right: 77.74%;
    top: 76.08%;
    bottom: -22.79%;
}

.cert .right{
    display: flex;
    flex-direction: column;
}

.cert .right h2{
    font-weight: var(--fw-semi-bold);
    font-size: 58px;
    line-height: 68px;
    letter-spacing: -1px;
    color: var(--clr-white);
    margin: 0 120px 64px 0;
}

.cert .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    height: 349px;
}

.cert .left div h4{
    font-weight: var(--fw-semi-bold);
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.5px;
    color: var(--clr-white);
}

.cert .left div p{
    font-weight: var(--fw-body);
    font-size: 16px;
    line-height: 24px;
    color: var(--clr-white);
    opacity: 0.8;
}





/* =============================
========== portfolio ========
================================*/




.portfolio{
    margin-top: 192px;
    padding: 80px var(--margin-left);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio h2{
    font-weight: var(--fw-semi-bold);
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    letter-spacing: -1px;
    color: var(--clr-font-blue);
    max-width: 660px;
    margin: 190px auto 80px auto;
}

.portfolio .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.portfolio .projects .project{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px !important;
}

.portfolio .projects .righted{
    margin-right: 40px;
}

.portfolio .projects .project h2{
    font-weight: var(--fw-semi-bold);
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.5px;
    color: var(--clr-font-blue);
    margin: 18px 0 28px 0;
    text-align: left;
}

.project .catagories{
    display: flex;
}

.portfolio .projects .project img{
    height: 90%;
    width: 90%;
}

.portfolio .button{
    margin: 0 auto;
}

/* =============================
========== testimonial ========
================================*/


.testimonial{
    width: 1170px;
    height: 680px;
    background: linear-gradient(96.65deg, #FF9A63 0%, #FE804B 100%);
    border: 10px solid var(--clr-white);
    border-radius: 40px;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    transform: translateY(-185px);
}

.testimonial h2{
    font-weight: var(--fw-semi-bold);
    font-size: 58px;
    line-height: 68px;
    letter-spacing: -1px;
    color: var(--clr-white);
    max-width: 670px;
}

.testimonial .text{
    font-weight: var(--fw-body);
    font-size: 23px;
    line-height: 38px;
    letter-spacing: -0.5px;
    color: var(--clr-white);
    opacity: 0.8;
    margin: 78px 105px 58px 0;
    max-width: 770px;
    max-height: 190px;
}

.testimonial .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 199px;
    height: 58px;
}

.testimonial .info .name{
    font-weight: var(--fw-semi-bold);
    font-size: 20px;
    line-height: 30px;
    color: var(--clr-white);
}

.testimonial .info .job{
    opacity: .8;
    margin-top: 3px;
    font-size: 16px !important;
    color: var(--clr-white);
    font-weight: var(--fw-body);
}

.testimonial img{
    font-weight: var(--fw-semi-bold);
    color: var(--clr-white);
    position: absolute;
    left: 991px;
    top: 226px;
    width: 97px;
}